$primaryColor: rgb(245, 180, 16);
$secondaryColor: rgb(214, 158, 15);

body {
  font-family: 'Segoe UI';
  margin: 0;
}

.Link {
  text-decoration: none;
  text-decoration-line: none;
  color: black;
}
.MuiBox-root {
  .MuiAppBar-root {
    background-color: $primaryColor;
    color: black;
  }
  .MuiPaper-root {
    .MuiContainer-root {
      .MuiToolbar-root {
        .link {
          display: flex;
          width: 220px;
          align-items: center;
          text-decoration: none;
          color: black;
          .img-logo {
            width: 55px;
            height: 55px;
            margin: 5px 0;
            padding: 5px;
          }
          .MuiTypography-root {
            margin: 0 50px 0 10px;
          }
        }
        .search-box {
          width: 750px;
          .css-96uuyl {
            width: 400px;
          }
        }
        .MuiBox-root {
          display: flex;
          width: 350px;
          align-items: center;
          justify-content: flex-end;
          .MuiButtonBase-root {
            margin: 8px;
          }
        }
      }
    }
  }
  .MuiDrawer-root {
    .MuiPaper-root {
      .MuiBox-root {
        margin-top: 75px;
        .MuiList-root {
          .Link {
            text-decoration: none;
            text-decoration-line: none;
            color: black;
          }
          // .MuiButtonBase-root {
          //   .MuiListItemText-root {
          //     .MuiTypography-root {
          //     }
          //   }
          // }
        }
      }
    }
  }
  .css-zxdg2z {
    margin: 75px 50px 0 30px;
  }
}
