$primaryColor: rgb(245, 180, 16);
$secondaryColor: rgb(214, 158, 15);

body {
  font-family: "Segoe UI";
  background-color: whitesmoke;
  display: flex;
  margin: 0;
}

.wrapper {
  height: 100%;
  width: 100%;
  .sidebar {
    position: absolute;
    padding: 0;
    margin: 0;
    height: 100%;
    color: black;
    background-color: $primaryColor;
    .link {
      color: black;
      display: flex;
      text-decoration: none;
      justify-content: flex-start;
      align-items: center;
      margin: 10px;
      // border: 1px solid black;
      padding: 10px 40px 10px 15px;
      img {
        height: 70px;
        width: 70px;
      }
      h3 {
        margin-left: 1rem;
      }
    }
    li {
      text-decoration: none;
      list-style: none;
      color: black;
      &:hover {
        background-color: $secondaryColor;
      }
    }
  }

  .main-content {
    position: relative;
    display: block;
    justify-content: center;
    margin: 0 0 0 250px;
    height: 100%;
    // width: 100%;
    h2 {
      text-align: left;
      margin: 0;
      // margin-top: 100px;
      padding: 25px 0 20px 0;
    }
    .button {
      border: none;
      border-radius: 10px;
      padding: 10px;
      margin: 0.5rem 0 0.5rem 0;
      color: black;
      background-color: $primaryColor;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background-color: $secondaryColor;
      }
    }
    .box {
      margin: 0 50px 20px 50px;
      .table-latitude {
        display: table;
        background-color: $primaryColor;
        padding: 10px;
        border-radius: 10px;
        border-width: 0;

        button {
          border: none;
          border-radius: 6px;
          padding: 10px;
          margin: 0 10px 0 0;
          color: white;
          background-color: black;
          font-weight: bold;
          font-size: 11px;
          cursor: pointer;
          &:hover {
            background-color: $secondaryColor;
            color: black;
          }
        }
        thead {
          th {
            text-transform: uppercase;
            text-align: center;
            padding: 0;
            color: black;
            // border: 2px solid $secondaryColor;
            border-radius: 4px;
          }
        }
        tbody {
          td {
            color: black;
            // border: 2px solid $secondaryColor;
            text-align: center;
            border-radius: 4px;
          }
        }
      }
    }
  }
}

.modal-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  .modal-content {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animate;
    animation-duration: 0.8s;
    .modal-header {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 2px 16px;
      background-color: $primaryColor;
      color: black;
      flex-direction: row;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h3 {
        // padding: 10px 0px;
        margin-left: 160px;
      }
      .close {
        cursor: pointer;
        font-size: x-large;
        border-radius: 6px;
      }
    }
    .modal-body {
      // display: flex;
      padding: 2px 16px;
      .form {
        justify-content: space-between;
        .input {
          margin: 6px 0;
          padding: 0 6px;
          width: 97%;
          height: 35px;
          border-radius: 6px;
          border: none;
        }
        .check {
          @extend .input;
          height: 20px!important;
        }
        .roww {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .columns {
            width: 48%;
          }
        }
      }
    }
    .modal-footer {
      display: flex;
      justify-content: center !important;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: $primaryColor;
      .button-save {
        cursor: pointer;
        color: black;
        background-color: $primaryColor;
        width: 100%;
        margin: 0 !important;
        padding: 10px !important;
        border: none;
        border-bottom-left-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
        font-size: large !important;
        font-weight: 500 !important;
        &:hover {
          background-color: $secondaryColor;
        }
      }
    }
  }
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
